%h1 Listing link_communities

%table
  %tr
    %th Link
    %th Community
    %th
    %th
    %th

  - @link_communities.each do |link_community|
    %tr
      %td= link_community.link_id
      %td= link_community.community_id
      %td= link_to 'Show', link_community
      %td= link_to 'Edit', edit_link_community_path(link_community)
      %td= link_to 'Destroy', link_community, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Link community', new_link_community_path
