%p#notice= notice

%p
  %b Link:
  = @link_community.link_id
%p
  %b Community:
  = @link_community.community_id

= link_to 'Edit', edit_link_community_path(@link_community)
\|
= link_to 'Back', link_communities_path
