- if notice
  %p#notice= notice

%ul{:class => "filter-list"}
- if @community
  %li{:class => "filter-item"}= link_to "New", filter_order_path(community: @community.title, order: :new)
  %li{:class => "filter-item"}= link_to "Top", filter_order_path(community: @community.title, order: :top)
  %li{:class => "filter-item"}= link_to "Old", filter_order_path(community: @community.title, order: :old)
- else
  %li{:class => "filter-item"}= link_to "New", order_url(order: :new)
  %li{:class => "filter-item"}= link_to "Top", order_url(order: :top)
  %li{:class => "filter-item"}= link_to "Old", order_url(order: :old)
%ul
  - @links.each_with_index do |link, index|
    %li
      = render 'entry', link: link, index: index + 1
