%p#notice= notice

%p
  %b Title:
  = @link.title
%p
  %b Description:
  = @link.description
%p
  %b Url:
  = @link.url
= link_to 'Add community', new_communities_to_link_path({"link_id"=>@link})
= render "owned"
= link_to 'Edit', edit_link_path(@link)
\|
= link_to 'Back', links_path
